.block {
    background-color: #E0E0E0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2%;
}

.block-number {
    color: #304FFE;
    padding: 0;
    margin: 0;
}

.block-content {
    padding: 0;
    margin: 0;
}